
h1 {
	text-align: center;
}


.section {
	border: 1px solid black;
	display: inline-block;
	background-color: aqua; 
	padding: 10px;
	margin: 10px;
}

.sub {
	position: relative;
	float: right;
	border: 1px solid black;
	padding: 10px 30px 10px 30px;
	top: -31px;
	right: -10px;
}

#one {
	background-color: darkorchid;
}

#two {
	background-color: greenyellow;
}

#three {
	background-color: orangered;
}

p {
	float: left;
	padding: 10px;
	margin: 10px;
}

@media (min-width: 992px) {
	.col-lg-4 {
		position: relative;
		float: left;
		width: 33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6, .col-md-12 {
		float: left;
	}

	.col-md-6 {
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.col-sm-12 {
		float: left;
		width: 100%;
	}
}